<h1>Restaurant details</h1>
<h3>app/views/restaurants/show.html.erb - restaurant.id =  <%= @restaurant.id %></h3>

<p id="notice"><%= notice %></p>

<h2><%= @restaurant.name %> (h2)</h2>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "⭐️" * review.rating %> - <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
